* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    width: 100vw;
    height: 100vh;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 1000px;
    height: 500px;
    background: #666;
    border-radius: 15px;
}