* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

.main {
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    background: #324863;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    color: #fff;
    overflow-x: hidden;
    position: relative;
}

.container {
    width: 90%;
    height: auto;
    padding: 10rem 0;
    /* background: rgba(0, 0, 0, .4); */
    /* background: #5e7391; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* coin list */
.loading {
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, .4);
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: .6;
}

.movieList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}